<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=devise-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>Meshiterro2</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
            <a class="navbar-brand" style="font-size: 30px;">Imager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    　　　　　　　　<span class="navbar-toggler-icon"></span>
  　　　　　　　　</button>
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to(new_post_image_path, class:"mr-3 text-light") do %><i>Post_form</i><% end %>
                </li>
               <li class="nav-item">
                  <%= link_to(destroy_user_session_path, class:"mr-3 text-light", method: :delete) do %><i>Log_out</i><% end %>
                </li>
                <li class="nav-item">
                  <%= link_to(user_path(current_user.id), class:"text-light") do %><i>My_page</i><% end %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to(root_path, class:"mr-3 text-light") do %><i>Home</i><% end %>
                </li>
                <li class="nav-item">
                  <%= link_to(homes_about_path, class:"mr-3 text-light") do %><i>About</i><% end %>
                </li>
                <li class="nav-item">
                  <%= link_to(new_user_registration_path, class:"mr-3 text-light") do %><i>Sign_up</i><% end %>
                </li>
                <li class="nav-item">
                  <%= link_to(new_user_session_path, class:"text-light") do %><i>Log_in</i><% end %>
                </li>
              <% end %>
              </ul>
            </div>
              
      </div>
      </nav>
      
    </header>
    <%= yield %>
    
    <footer class="bg-dark text-center text-light" style="height: 70px; line-height: 70px;">Copyright © Infratop Inc. All Rights Reserved.</footer>
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
